<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>metro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
      <div class="page-header">
        <h1>Metro Frontend Developer Test <small>by Stuart Rutter</small></h1>
      </div>

      <div class="row">
        <div class="list-group col-md-8" id="metro-feed"> 
      
        </div>
    
        <div class="list-group col-md-8">  
          <a onClick="paginator.more()" class="list-group-item btn btn-default">
            View More
          </a>
        </div>
    
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script id="item" type="text/x-handlebars-template">
      {{#each this}}

        <div class="list-group-item">
          <div class="media">
            <a class="pull-left" href="{{URL}}">
                <img class="media-object" src="{{image_4_3}}" alt="{{title}}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{{title}}}</h4>
                <p>{{excerpt}}</p>
            </div>
          </div>
        </div>

      {{/each}}
    </script>


        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
